<div class="container">
    <h2>User Settings</h2>
    <form>
       <div class="form-group">
            <label for="name">Name</label>
            <input id="name" name="name" class="form-control" type="text" placeholder="Name" />
       </div>

       <div class="form-check form-group">
            <input class="form-check-input" type="checkbox" value="" id="emailOffers" />
            <label class="form-check-label" for="emailOffers">
              Email Special Offers
            </label>
        </div>

        <p>User Interface Style</p>
        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="interfaceStyle" id="lightInterface" value="light" checked />
                <label class="form-check-label" for="lightInterface">
                    Light
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="interfaceStyle" id="mediumInterface" value="medium /">
                <label class="form-check-label" for="mediumInterface">
                    Medium
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="interfaceStyle" id="interfaceStyle" value="dark" />
                <label class="form-check-label" for="interfaceStyle">
                        Dark
                </label>
            </div>
        </div>

        <div class="form-group">
            <label for="subscriptionType">Subscription Type</label>
            <select class="form-control" id="subscriptionType">
                <option>Monthly</option>
                <option>Annual</option>
                <option>Lifetime</option>
            </select>
        </div>

        <div class="form-group">
            <label for="notes">Notes</label>
            <textarea name="notes" id="notes" class="form-control" rows="3"></textarea>
        </div>

       <button class="btn btn-primary">Send</button>
    </form>
</div>